/bin
/build
WaypointNavigation.config
WaypointNavigation.creator
WaypointNavigation.creator.user
WaypointNavigation.files
WaypointNavigation.includes

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
